.App {
  position: relative;

  height: 100%;

  display: grid;
  grid-template-rows: calc(100% - 120px) 120px;
}

.selected {
  border: 1px solid red;
}

.linking-line {
  stroke: blue;
  stroke-width: 4px;
  cursor: pointer;

  transition: all 0.3s;
}

.linking-line:hover {
  stroke: red;
  stroke-width: 4px;
}

.device {
  width: 75px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
